@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
    width: 80%;
    text-align: left;
    background-color: darkslategrey;
    color: palevioletred;
}

.wrapper {
    text-align: center;
}
