html { display: flex;}
body { width: 100%;}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* display: block; */
    padding: 115px;
    background-color: darkslategrey;
    color: palevioletred;
}